.d
{
width:90%;
}
.d1
{
background-color:white;
opacity:0.5;
width:100%;
border-radius:50px;
}
.d2
{

width:40%;
border-radius:20px;
background-color:yellow;

}
.d3
{
float:right;
width:40%;
border-radius:20px;
background-color:yellow;

}