body{
	font-family: Helvetica;
	background-color: white;
	height: 2000px;
	background: url('trainbg.jpg');
	background-size: cover;
	background-attachment: fixed;
}
.container{
	width: 270px;
	background: rgba(60,60,60,0.4);
	color: white;
}
.container input[type="text"]{
	border-radius: 2px;
}